# Set default behavior to automatically normalize line endings.
* text=auto

# Force bash scripts to always use lf line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh text eol=lf

# Force batch scripts to always use crlf line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.cmd text eol=crlf
*.bat text eol=crlf
