##
## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##     http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.

## Display the group of collections found after retrieving spans.

#parse( "org/apache/avro/ipc/trace/templates/common.vm" )

<html>
<head>
<title>Avro Trace Results</title>
#mediaIncludes()
</head>
<body>
<h1>Avro Trace Results</h1>
<p>
From $spans.size() spans found $collections.size() execution patterns.<br>
</p>

#set($count = 0)
#foreach( $col in $collections )
  <a href="/collection/$col.getExecutionPathHash()">Pattern $count</a>
  #printCollectionSummary( $col )
  #set($count = $count + 1) 
#end

<p>
You can always <a href="/">collect more spans</a>. 
</p>
</table>
</body>
</html>
