*.egg-info/
.eggs/
build/
lib/
userlogs/
avro/HandshakeRequest.avsc
avro/HandshakeResponse.avsc
avro/VERSION.txt
avro/interop.avsc
avro/tether/InputProtocol.avpr
avro/tether/OutputProtocol.avpr
avro/test/interop/
.tox
dist
