<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.1/phpunit.xsd"
         bootstrap="test/test_helper.php"
         executionOrder="depends,defects"
         forceCoversAnnotation="true"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">

    <php>
      <ini name="date.timezone" value="America/New_York" />
    </php>

    <testsuites>
        <testsuite name="AvroAllTests">
            <directory suffix="Test.php">test</directory>
            <exclude>test/InterOpTest.php</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">lib</directory>
        </whitelist>
    </filter>
</phpunit>
