# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.

name: Rust Continuous Integration
on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
      - .github/workflows/test-lang-rust-ci.yml
      - lang/rust/**

defaults:
  run:
    working-directory: lang/rust

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
          - 1.51.0  # MSRV

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Rust Toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          override: true
          components: rustfmt

      - name: Rust Format
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path lang/rust/Cargo.toml --all -- --check

      - name: Rust Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path lang/rust/Cargo.toml --all-features --all-targets

      - name: Rust Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path lang/rust/Cargo.toml --all-features --all-targets

      # because of https://github.com/rust-lang/cargo/issues/6669
      - name: Rust Test docs
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path lang/rust/Cargo.toml --doc
