# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: 'Test Java'
on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
    paths:
    - .github/workflows/test-lang-java.yml
    - lang/java/**
    - pom.xml

defaults:
  run:
    working-directory: lang/java

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Java ${{ matrix.java }} Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
        - '8'
        - '11'
        - '17'
        - '18'
        - '19'
    steps:
      - uses: actions/checkout@v2

      - name: Cache Local Maven Repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Temurin JDK
        if: matrix.java == '8' || matrix.java == '11' || matrix.java == '17'
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Setup Oracle JDK
        if: matrix.java == '18' || matrix.java == '19'
        uses: oracle-actions/setup-java@v1
        with:
          website: jdk.java.net
          release: ${{ matrix.java }}
          version: latest

      - name: Lint
        run: ./build.sh lint

      - name: Test
        run: ./build.sh test

  interop:
    name: Java ${{ matrix.java }} Interop
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
        - '8'
        - '11'
        - '17'
    steps:
      - uses: actions/checkout@v2

      - name: Cache Local Maven Repository
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java }}

      - name: Setup Python for Generating Input Data
        uses: actions/setup-python@v2

      - name: Apt Install Compression Libs Required by Python
        run: |
          sudo apt-get install -qqy --no-install-recommends libbz2-dev \
                                                            liblzma-dev \
                                                            libsnappy-dev \
                                                            libzstd-dev

      - name: Install Python Dependencies
        run: |
          python3 -m pip install --upgrade pip setuptools tox-wheel
          python3 -m pip install python-snappy zstandard

      - name: Setup C# for Generating Interop Data
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: |
            3.1.x
            5.0.x
            6.0.x

      - name: Install Java Avro for Interop Test
        working-directory: .
        run: mvn -B install -DskipTests

      - name: Create Interop Data Directory
        working-directory: .
        run: mkdir -p build/interop/data

      - name: Generate Interop Resources
        working-directory: lang/java/avro
        run: mvn -B -P interop-data-generate generate-resources

      - name: Generate Interop Data using Python
        working-directory: lang/py
        run: ./build.sh interop-data-generate

      - name: Generate Interop Data using C#
        working-directory: lang/csharp
        run: ./build.sh interop-data-generate

      - name: Run Interop Tests
        working-directory: lang/java/ipc
        run: mvn -B test -P interop-data-test
